BODY {
	BACKGROUND-COLOR: #e6e6e6; FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 12px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; MARGIN-TOP: 0px
}
TD {
	FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 12px
}
P {
	TEXT-ALIGN: justify
}
.normal {
	FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 12px
}
.highlighted {
	COLOR: #4586c1; FONT-WEIGHT: bolder
}
A:link {
	COLOR: #4586c1
}
A:active {
	COLOR: #b22222
}
A:hover {
	COLOR: #b22222
}
A:visited {
	COLOR: #4586c1
}
.submenu {
	FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
A.submenu {
	COLOR: #ffffff
}
A.submenu:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.submenu:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.submenu:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.submenu:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bottom {
	FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 12px
}
A.bottom:link {
	COLOR: #004c90
}
A.bottom:hover {
	COLOR: #b22222
}
A.bottom:active {
	COLOR: #b22222
}
A.bottom:visited {
	COLOR: #004c90
}
H1 {
	COLOR: #4586c1; FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 16px; FONT-WEIGHT: bolder
}
.firstletter {
	COLOR: #ffcc66; FONT-SIZE: 24px
}
H2 {
	COLOR: #4586c1; FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 14px; FONT-WEIGHT: bolder
}
H3 {
	COLOR: #4586c1; FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 12px; FONT-WEIGHT: bolder
}
H4 {
	COLOR: #4586c1; FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 12px; FONT-STYLE: italic; FONT-WEIGHT: bolder
}
.enter {
	FONT-FAMILY: Arial; FONT-SIZE: 12px
}
.admin_menu {
	FONT-SIZE: 16px
}
.newscolumn {
	FONT-FAMILY: Arial, Helvetica, Verdana; FONT-SIZE: 12px
}
P.newscolumn {
	TEXT-ALIGN: left
}
A.newscolumn {
	COLOR: #000000
}
A.newscolumn:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.newscolumn:hover {
	COLOR: #b22222; TEXT-DECORATION: underline
}
A.newscolumn:active {
	COLOR: #b22222; TEXT-DECORATION: underline
}
A.newscolumn:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.homepage {
	FONT-FAMILY: Arial, Verdana, Helvetica; FONT-SIZE: 12px; TEXT-ALIGN: center
}
A.homepage:active {
	COLOR: #9e0b0e; TEXT-DECORATION: none
}
A.homepage:link {
	COLOR: #9e0b0e; TEXT-DECORATION: none
}
A.homepage:hover {
	COLOR: #9e0b0e; TEXT-DECORATION: underline
}
A.homepage:visited {
	COLOR: #9e0b0e; TEXT-DECORATION: none
}
A.kbbutton {
	COLOR: #000000; FONT-WEIGHT: bolder
}
A.kbbutton:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.kbbutton:hover {
	COLOR: #9e0b0e; TEXT-DECORATION: none
}
A.kbbutton:active {
	COLOR: #9e0b0e; TEXT-DECORATION: none
}
A.kbbutton:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
