AddDefaultCharset windows-1251
#CharsetSourceEnc windows-1251
#CharsetDefault windows-1251


# Redirect OLD shtml from root to inner page
Redirect 301 /anekdot.shtml  /anekdot/index.html
Redirect 301 /asm_src.shtml /asm/index.html


RewriteEngine On
RewriteBase /

# ReWrite URL from one file to another one
#RewriteRule   ^test1\.html$  /test2.html


#RewriteCond %{SERVER_NAME}  ^89\.208\.153\.99
#RewriteRule ^(.*)	http://www.sources.ru/$1
#RewriteRule ^(.*)	http://www.sources.ru/

#ErrorDocument 404 /error404.cgi

