#AuthType Basic
#AuthName "Login and Password required"
#AuthUserFile /usr/local/www/votsrc/.htpasswd
#<Limit GET>
#require  valid-user
#</Limit>

RewriteEngine On
RewriteBase /

#RewriteRule   ^test1.html$  test2.html

#RewriteCond %{SERVER_NAME}  ^89\.208\.153\.99
#RewriteRule ^(.*)<----->http://www.sources.ru/


#ErrorDocument 404 /error404.cgi
#ErrorDocument 404 /usr/local/www/votsrc/htdocs/error404.cgi
#ErrorDocument 404 http://www.sources.ru/printenv.cgi
#ErrorDocument 404 http://www.sources.ru/error404.cgi
#ErrorDocument 404 http://www.sources.ru/error404.html

#AddType text/x-server-parsed-html .html .htm

# Send ALL requests to script, appending the query string part.
#RewriteRule ^(.*)\.htm(l)*$ /index.php?n=$1  [QSA,L]
#RewriteRule ^(.*)$ /index.php  [QSA,L]
#RewriteRule ^(.*)\/$ /index.php  [QSA,L]
#RewriteRule ^(.*)\.htm(l)*$ /index.php  [QSA,L]
#RewriteRule ^([^index\.php].*)$ /index.php  [QSA,L]

#RewriteCond %{REQUEST_URI} ^/([a-zA-Z0-9+?:\ _\/\-]+)$
#RewriteCond %{REQUEST_URI} !^/index\.php
RewriteCond %{REQUEST_URI} ^.*\.html*.*$
#RewriteRule ^(.*) /index.php?request_string=%1&full_request=%0  [L]
RewriteRule ^(.*) /index.php  [L]
