pre { font-family:courier; font-style:normal; font-weight:normal; font-size:10pt; color:#800080; background-color:#fafafa; padding: 10pt 10pt 10pt 10pt; border:1pt solid silver; text-align:left; LINE-HEIGHT: 150%; }
A:link { font-family : arial; font-weight : normal; color : #0000ff; text-decoration : none;}
A:visited { font-family : arial; font-weight : normal; color : #0000ff; text-decoration : none;}
A:active { font-family : arial; font-weight : normal; color : #0000ff; text-decoration : none;}
A:hover { font-family : arial; font-weight : normal; color : #ff0000; text-decoration : underline;}
body { text-align: justify; }