a:link { color: #005177; text-decoration: underline; }
a:visited { color: #665066; text-decoration: underline; }
a:hover { color: #cc3333; text-decoration: underline; }
pre { font-family:courier; font-style:normal; font-weight:normal; font-size:10pt; color:#900090; background-color:#fafafa; padding: 10pt 10pt 10pt 10pt; border:1pt solid silver; text-align:left; LINE-HEIGHT: 150%; }
body { text-align: justify; LINE-HEIGHT: 150%; }

.question { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; color:#ffffff; text-decoration: none; font-weight: bold; text-align: justify; }
.answer { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; text-align: justify; padding: 10pt 10pt 10pt 10pt;}