#AuthType Basic
#AuthName "Login and Password required"
#AuthUserFile /usr/local/www/votsrc/.htpasswd
<Limit GET>
#require  valid-user
</Limit>
<Files *.tpl>
order allow,deny
deny from all
</Files>
<Files *.conf>
order allow,deny
deny from all
</Files>
