BODY {
	BACKGROUND-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
H3 {
	COLOR: #ffffff; FONT-FAMILY: Comic Sans MS, Verdana, sans-serif; FONT-SIZE: 18px
}
H3 {
	COLOR: #ffffff; fontfamily: Comic Sans MS, Verdana, sans-serif; fontsize: 18px
}
H5 {
	COLOR: #ffffff; FONT-FAMILY: Comic Sans MS, Verdana, sans-serif; FONT-SIZE: 14px
}
H5 {
	COLOR: #ffffff; fontfamily: Comic Sans MS, Verdana, sans-serif; fontsize: 14px
}
LI {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 12px; TEXT-ALIGN: justify
}
LI {
	COLOR: #ffffff; TEXT-ALIGN: justify; fontfamily: Verdana, Arial, sans-serif; fontsize: 12px
}
.maintext {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 12px; TEXT-ALIGN: justify
}
.maintext {
	COLOR: #ffffff; TEXT-ALIGN: justify; fontfamily: Verdana, Arial, sans-serif; fontsize: 12px
}
.modetext {
	COLOR: #ff0000; TEXT-ALIGN: justify; fontfamily: Verdana, Arial, sans-serif; fontsize: 12px
}
.modetext {
	COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 12px; TEXT-ALIGN: justify
}
.itctext {
	COLOR: #ffffff; FONT-FAMILY: Tempus Sans ITC, Comic Sans MS, tahoma, sans-serif; FONT-SIZE: 12px; TEXT-ALIGN: justify
}
.itctext {
	COLOR: #ffffff; TEXT-ALIGN: justify; fontfamily: Tempus Sans ITC, Comic Sans MS, tahoma, sans-serif; fontsize: 12px
}
.itcbig {
	COLOR: #ffffff; FONT-FAMILY: Tempus Sans ITC, Comic Sans MS, tahoma; FONT-SIZE: 14px; TEXT-ALIGN: justify
}
.itcbig {
	COLOR: #ffffff; TEXT-ALIGN: justify; fontfamily: Tempus Sans ITC, Comic Sans MS, tahoma; fontsize: 14px
}
.centext {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 12px; TEXT-ALIGN: center
}
.centext {
	COLOR: #ffffff; TEXT-ALIGN: center; fontfamily: Verdana, Arial, sans-serif; fontsize: 12px
}
TD {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 12px; TEXT-ALIGN: justify
}
TD {
	COLOR: #ffffff; TEXT-ALIGN: justify; fontfamily: Verdana, Arial, sans-serif; fontsize: 12px
}
.messhead {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-ALIGN: justify
}
.messhead {
	COLOR: #000000; FONT-WEIGHT: bold; TEXT-ALIGN: justify; fontfamily: Verdana, Arial, sans-serif; fontsize: 12px
}
.copyright {
	COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 10px
}
.copyright {
	COLOR: #ffffff; fontfamily: Verdana; fontsize: 10px
}
.download {
	COLOR: #ffffdf; FONT-FAMILY: Verdana; FONT-SIZE: 10px
}
.download {
	COLOR: #ffffdf; fontfamily: Verdana; fontsize: 10px
}
A:link {
	COLOR: #d4d4ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:link {
	COLOR: #d4d4ff; TEXT-DECORATION: none; fontfamily: Verdana, Arial, Helvetica, sans-serif
}
A:visited {
	COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	COLOR: #999999; TEXT-DECORATION: none; fontfamily: Verdana, Arial, Helvetica, sans-serif
}
A:active {
	COLOR: #5d5d5d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:active {
	COLOR: #5d5d5d; TEXT-DECORATION: none; fontfamily: Verdana, Arial, Helvetica, sans-serif
}
A:hover {
	BACKGROUND: #cccccc; COLOR: #454545; TEXT-DECORATION: none
}
