body {
margin: 0px;
}
table td {
vertical-align: top;
}
h2 {
font-size: 14px;
}
h1 {
font-size: 18px;
text-align: center;
}
h4 {
font-weight: bold;
}

a {
color: #64A23C;
text-decoration: none;
}
a:hover {
color: #64A23C;
text-decoration: underline;
}
.block_menu {
background: #f0f0ec;
padding: 15px;
margin-bottom: 25px;
line-height: 18px;
}
.block_menu:before {
content: url(img/ctl.png);
background: url(img/ctr.png) no-repeat 100% 0;
height: 8px;
display: block;
margin: -15px -15px 13px -15px;
}
.block_menu:after {
content: url(img/cbl.png);
background: url(img/cbr.png) no-repeat 100% 0;
height: 8px;
display: block;
margin: 13px -15px -15px -15px;
}
#menu {
height: auto;
float: left;
}
#menu ul {
margin-top: 0;
padding: 0;
}
#menu ul li {
float: left;
list-style: none;
}
#menu ul a, .menu li a {
display: block;
width: 100px;
height: 40px;
font-family: Myriad Pro, Arial, Helvetica, sans-serif;
font-size: 15px;
text-decoration: none;
color: #64A23C;
line-height: 40px;
text-align: center;
}
#menu ul a:hover, .menu li a:hover {
background: #efefef url(img/libg.png);
}
.menu_selected {
background: #efefef url(img/libg.png);
}
#ferb {
clear: both;
background-image: url(img/navb.png);
background-repeat: repeat-x;
height: 40px;
}
#navb div {
line-height: 40px;
font-size: 11px;
}

.text, .text2 {
color: #111;
font-family: Verdana, Tahoma, Arial, sans-serif;
text-decoration: none;
}
.text {
font-size: 11px;
}
.text2 {
font-size: 12px;
}
.table_text td {
padding: 2px 7px;
}

div.rule {
width:100%;
padding: 5px 20px;
}
div.rule p {
padding: 4px;
border: 1px solid #8C0000;
color: #8C0000;
font-weight: 300;
}

.code, .quote {
color: #000000;
background-color: #F3F3F3;
border: solid 1px #64A23C;
padding: 5px;
width: 95%;
}
.code {
font-family: 'courier new', 'courier';
}

.find_site {
border-style: solid;
border-width: 1px;
border-color: #00B000;
color: #222;
}

.find_site_sub {
border-style:solid;
border-width:1px;
border-color:#64A23C;
color:#222;
}

.outp, .outpp {
background-color: #000;
color: #FFF;
padding: 5px;
font-family: 'courier new', 'courier';
}
pre.code {
width: 800px;
overflow: auto;
}
.outp {
font-size: 16px;
}
.outpp {
margin-top: 1em;
}

td.c1 {
background-color: #EFEFEF;
}
dt.c2 {
background-color: #F3F3F3;
}
td.c1, td.c2 {
border: solid 1px #64A23C;
}

.first_line {
padding: 5px;
background-color: #EDEDED;
}

.all_links {
color: #222;
font-size: 7px;
}