BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #313131; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Tahoma, Helvetica, sans-serif
}
A:link {
	COLOR: #800000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:visited {
	COLOR: #800000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:hover {
	COLOR: #800000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A:active {
	COLOR: #800000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
