body, td, input, submit, select {
	scrollbar-arrow-color : white;
	scrollbar-base-color : #4182D7;
	scrollbar-face-color : #4182D7;
	scrollbar-highlight-color : #FFFFFF;
	scrollbar-shadow-color : white;
}
body, td {font: 8pt Tahoma}
a.white {color: white}
big {font: bold 11pt Tahoma;}
td.form {
	background-attachment : fixed;
	background-position : center;
	background-repeat : no-repeat;
}
.blue {
	background-color: white;
	font-size : 10pt;
	border : solid 1;
	border-color : #4183D6;
}

