body, td, input, submit, select {
  scrollbar-arrow-color : white;
  scrollbar-base-color : #4182D7;
  scrollbar-face-color : #4182D7;
  scrollbar-highlight-color : #FFFFFF;
  scrollbar-shadow-color : white;
}

body, td { font: 8pt Tahoma }
.smaller {font: 7pt Tahoma}
a.white {color: white}
.medium {font: bold 9pt Tahoma}
.big {font: bold 13pt Tahoma}
  	
