body, td, input, submit, select {
	font: 8pt Tahoma;
}

h3 {
	font:  bold 10pt Tahoma
}

.top, a.top, p.top {
	filter : DropShadow(Color="black",OffX="1",OffY="1",Positive="1"); height:10; 
    font: bold 9pt Tahoma, Verdana; color:white; text-align:center; vertical-align: middle;
}

.middle, td.middle {
	font: bold 9pt Tahoma
}

.error { font: bold 9pt Tahoma; color: #ff0000 }

a {
	color: black
}

a.white {
	color: white
}

.m_white, td.m_white {
	font: bold 9pt Tahoma; color: white
}

a.n_white {
	font: bold 8pt Tahoma; 
	font-weight: bold;
	color: white; 
	text-decoration:none;
}

.norm {
	font: 9pt Arial;
}

bold, b, strong {
	font-weight: bold;
}
