A	{COLOR: #005177; FONT-WEIGHT: normal; TEXT-DECORATION: none}
A:link	{COLOR: #005177; FONT-WEIGHT: normal; TEXT-DECORATION: none}
A:visited {COLOR: #665066; FONT-WEIGHT: normal; TEXT-DECORATION: none}
A:hover {COLOR: #cc3333; TEXT-DECORATION: none}
A.blue:link {COLOR: #0441a6; FONT-FAMILY: Arial,Verdana,Tahoma,sans-serif; FONT-SIZE: 9pt; TEXT-DECORATION: none}
A.blue:visited {COLOR: #0441a6; FONT-FAMILY: Arial,Verdana,Tahoma,sans-serif; FONT-SIZE: 9pt; TEXT-DECORATION: none}
A.blue:hover {COLOR: #2776fa; FONT-FAMILY: Arial,Verdana,Tahoma,sans-serif; FONT-SIZE: 9pt; TEXT-DECORATION: none}
BODY	{FONT-FAMILY: Verdana, Helvetica, Arial; FONT-SIZE: 12px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; scrollbar-face-color: #AFC6DB; scrollbar-shadow-color: #000000; scrollbar-highlight-color: #DEE7EF; scrollbar-3dlight-color: #FFFFFF; scrollbar-darkshadow-color: #AFC6DB; scrollbar-track-color: #F5F5F5; scrollbar-arrow-color: ##DEE7EF}
PRE     {COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial; FONT-SIZE: 11px}
TD	{COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial; FONT-SIZE: 11px}
INPUT	{BACKGROUND-COLOR: #accaf4; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial; FONT-SIZE: x-small}
TEXTAREA {BACKGROUND-COLOR: #accaf4; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial; FONT-SIZE: x-small}
SELECT	{BACKGROUND-COLOR: #accaf4; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial; FONT-SIZE: 7pt}
.quote	{BACKGROUND-COLOR: #dee7ef; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial; FONT-SIZE: 10px}
.code	{BACKGROUND-COLOR: #cccccc; COLOR: #000000; FONT-FAMILY: Courier New; FONT-SIZE: 10px}
